@using BlogProject.Services
@using Microsoft.AspNetCore.Identity
@using BlogProject.Enums

@model BlogProject.Models.Post
@inject IImageService imageService
@inject UserManager<BlogUser> userManager

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>




<hr />
<hr />

<article>
    <div class="row">
        <div class="col text-center font-weight-bold h3">
            Custom Post Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }

        </div>

    </div>





</article>

<hr />

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Comments" asp-action="Create" method="post">
            @Html.Hidden("PostId", Model.Id)
            @Html.Hidden("Slug", Model.Slug)
            <div class=" form-group d-grid">
                <label class="h2 font-weight-bold">Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-dark btn-sm">Submit</button>
            </div>


        </form>



    }
    else
    {
                <div class="d-grid">
                    <a class="btn btn-sm btn-dark" a asp-area="Identity" asp-page="/Account/Login">
                        Login to add Comments
                    </a>
                </div>
    }


</div>


<hr />
<div class="d-grid">
<button id="commentSection" class="btn btn-sm btn-dark">@Model.Comments.Count COMMENT(S)</button>

</div>

<div class="d-grid justify-content-center">
    @{int counter = 0; }

    @foreach (var comment in Model.Comments)
    {


        <div class="border-2 mb-2 bg-light">
            <img class="mr-3 mt-3 rounded-circle" style="width:60px;" src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ImageType)" />
            <div class="text-body mt-2">
                <h4>@comment.BlogUser.FullName</h4>
                <small class="mt-1"><i>

    @if (comment.Moderated is not null)
    {
        <span>
            Moderated on @comment.Moderated?.ToString("MMM dd,yyyy")
            @*  Deleted on @comment.Deleted?.ToString("MMM dd, yyyy")*@
        </span>
        <p class="mt-1">@comment.ModeratedBody</p>


    }
    @*else if (comment.Deleted is not null)
        {
                <span>


                </span>
        }*@
    else
    {
        <span>

            Posted on @comment.Created.ToString("MMM dd, yyyy")
        </span>
        <p class="mt-1">@comment.Body</p>

    }



</i></small>
               
                
                



            </div>


            @if (comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
            {
                <hr />
                <div class="row">
                    @*@if(User.IsInRole(BlogProject.Enums.BlogRole.Moderator.ToString()) && comment.Deleted is null){

                        }*@
                    <button type="button" data-bs-toggle="modal" data-bs-target="@($"#moderateModal{counter}")" class="btn-sm btn-dark float-end font-weight-bold">Moderate</button>
                    @*This form should be visible while in moderation and an actual confirm behind the clicking.*@
                    
                    <form asp-action="Delete" asp-controller="Comments">
                        @Html.Hidden("Id", comment.Id)
                        @Html.Hidden("Slug", comment.Post.Slug)
                    <button type="submit" data-bs-toggle="modal" data-bs-target="@($"#deleteModal{counter}")" class="btn-sm btn-dark float-end font-weight-bold">Delete</button>
                    </form>
                    <button type="button" data-bs-toggle="modal" data-bs-target="@($"#editModal{counter}")" class="btn-sm btn-dark float-end font-weight-bold">Edit</button>
                </div>


                <hr />
            }
        </div>




        <!-- Modal -->
        <div class="modal fade" id="@($"editModal{counter}")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editing Comment...</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Edit" asp-controller="Comments">
                            @Html.Hidden("Id", comment.Id)
                            <div class="form-group">
                                <textarea name="Body" class="form-control" required>@comment.Body</textarea>

                            </div>
                            <button class="btn-sm btn-dark border-success font-weight-bold" type="submit">Submit</button>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="@($"moderateModal{counter}")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Moderate Comment...</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Moderate" asp-controller="Comments">
                            @Html.Hidden("Id", comment.Id)
                            @Html.Hidden("Body", comment.Body)


                            <div class="form-group">
                                <label class="form-label">Original Comment</label>
                                <textarea disabled class="form-control" style="resize:none">@comment.Body</textarea>
                            </div>

                            <div class="form-group">
                                <textarea required name="ModeratedBody" class="form-control" required>@comment.ModeratedBody</textarea>

                            </div>

                            <div class="form-group">
                                <label class="form-label">Reason for Moderation</label>
                                <select class="form-control" asp-for="@comment.ModerationType" name="ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                            </div>

                            <button class="btn-sm btn-dark border-success font-weight-bold" type="submit">Submit</button>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>


        <hr />
        counter++;


    }





</div>





<hr />

